body {
  margin: 0;
  background-color: black;
}

.game-over-container {
  min-width: 200px;
  height: auto;
  background: white;
  position: fixed;
  top: 80px;
  left: 5%;
  /* transform: translate(-50%); */
  display: flex;
  justify-content: center;
  border-radius: 10px;
  display: block;
}
.game-over-container.hidden {
  display: none;
}
.points {
  text-align: center;
}

.start-game-btn {
  margin: 10px auto;
  width: 80%;
  height: auto;
  font-weight: 500;
  font-size: 2rem;
  background-color: rgb(35, 235, 35);
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 4px grey;
}
.start-game-btn:hover {
  background-color: orange;
  box-shadow: none;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.score-container {
  position: fixed;
  top: 70px;
  left: 10px;
  color: white;
}
